BOT_TOKEN=
BOT_WEBHOOK_URL=
BOT_USERNAME=
BOT_TMA=aaaaa

DB_URL=postgresql://postgres:mysecretpassword@localhost:5433/defaultdb

JWT_COOKIE_DOMAIN=

TON_ENDPOINT=
TON_API_KEY=
TON_TONAPI_KEY=
TON_MNEMONIC=